{% extends 'base2.html' %} 

{% block content %}
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        {% include "tags/header.html" %}
        <!-- Header Menu Area End Here -->
         
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include "tags/sidebar.html" %}
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                {% include "tags/breadcrumb.html" %}
                <!-- Breadcubs Area End Here -->

                <!-- Admit Form Area Start Here -->
                 
                
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Add New Students</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="new-added-form" action="{% url 'admitform' %}" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Date of Application *</label>
                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                        data-position='bottom right' name="{{ form.application_date.name  }}" value={{ form.application_date.value }}>                                         
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Name of Student *</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.name.name }}" value={{ form.name.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Scholar's Date Of Birth *</label>
                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                        data-position='bottom right' name="{{ form.dob.name  }}" value={{ form.dob.value }}>
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Class in which a admission in sought *</label>
                                    <select class="select2">
                                        <option name="{{ form.student_class.name  }}" value={{ form.student_class.value }}>Please Select Class *</option>
                                    </select>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Gender *</label>
                                    <select class="select2">
                                        <option name="{{ form.gender.anme }}" value={{ form.gender.value }}>Please Select Gender *</option>
                                      
                                    </select>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Student's Religion*</label>
                                    <select class="select2">
                                        <option name="{{ form.religion.name }}" value={{ form.religion.value }}>Please Select Religion *</option>                                        
                                    </select>
                                </div>
                               
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Student's Cast*</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.caste.name }}" value={{ form.caste.value }}>
                                </div>

                                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Mother's Name</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.mother_name.name }}" value={{ form.mother_name.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Father's Name</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.father_name.name }}" value={{ form.father_name.value }}>
                                </div>
                                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Mother's Occupation</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.mother_occupation.name }}" value={{ form.mother_occupation.value }}>
                                </div>
                                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Father's Occupation</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.father_occupation.name }}" value={{ form.father_occupation.value }}>
                                </div>
                                
                                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Contact Number *</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.contact_number.name }}" value={{ form.contact_number.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Permanent Address *</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.permanent_address.name  }}" value={{ form.permanent_address.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Local Address *</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.local_address.name }}" value={{ form.local_address.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Pin Code</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.pin_code.name }}" value={{ form.pin_code.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>District</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.district.name }}" value={{ form.district.value }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Nationality</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.nationality.name }}" value={{ form.nationality.value }}>
                                </div>
                               
                                
                                
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Adhaar Number</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.adhaar_number.name }}" value={{ form.adhaar_number.value }}>
                                </div>
                                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Length of scholar's residene in Uttar Pradesh</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.residence_length.name }}" value={{ form.residence_length.name }}>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Name of the last Institution</label>
                                    <input type="text" placeholder="" class="form-control" name="{{ form.last_institution.name  }}" value={{ form.last_institution.value}}>
                                </div>
                                <div class="col-lg-4 col-12 form-group mg-t-30">
                                    <label class="text-dark-medium">Upload Student Photo (150px X 150px)</label>
                                    <input type="file" class="form-control-file" name="{{ form.photo.name }}" value={{ form.photo.value }}>
                                </div>
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           
                <!-- Admit Form Area End Here -->
                
                <!-- Footer Area Start Here -->
                {% include "tags/footer.html" %}
                <!-- Footer Area End Here -->
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
{% endblock content %}
